<html>
    <h1>Bienvenido Usuari@!!</h1>
    <h2>InSight: Mars Weather</h2>
    <h2>Endpoints Disponibles:</h2>
    <h3>[GET] /reset --> Crea y Carga la Base de Datos [DB]
    <h3>[GET] /graph/temperature --> Muestra gráfico Comparativo 
        de la Temperatura Atmosférica Promedio por día Solar.</h3>
    <h3>[GET] /graph/pressure --> Muestra gráfico Comparativo 
        de la Presión Atmosférica Promedio por día Solar.</h3>
    <h3>[GET] /table/temperature --> Muestra una Tabla con los Valores de la Temperatura Atmosférica.</h3>
    <h3>[GET] /table/pressure --> Muestra una Tabla con los Valores de la Presión Atmosférica.</h3>
</html>